@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body,
.capa {
    height: 100%;
    overflow: auto;
}
body{
       overflow-x: hidden;
       font-family: 'Rubik';
       background-attachment: fixed;
       overflow-x: hidden
}

/* Navbar */
.navbar-default {
    background-color: #f8f8f8;
    border-color: #050404;
    padding: 10px;
}

.navbar-brand {
    padding:  5px 10px;
}

 .img-logo {
    height: 45px;
    background-size: contain;
    color: transparent;
} 

.capa {
    display: table;
    width: 100%;
} 

.texto-capa {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
} 
.texto-capa h2 {
    color: #000;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.texto-capa span {
    color: #ff4f51;
}

.icone i{
color: #000;
 font-size: 40px;
}
